appnope==0.1.0
beautifulsoup4==4.4.1
decorator==4.0.4
dj-database-url==0.3.0
Django==1.8.1
django-haystack==2.4.1
django-postgrespool==0.3.0
elasticsearch==2.1.0
gnureadline==6.3.3
gunicorn==19.3.0
ipython==4.0.0
ipython-genutils==0.1.0
path.py==8.1.2
pefile==1.2.10.post114
pexpect==4.0.1
pickleshare==0.5
psycopg2==2.6
ptyprocess==0.5
python-ptrace==0.8.1
requests==2.8.1
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.0.4
traitlets==4.0.0
urllib3==1.26.5
validators==0.9
whitenoise==2.0.2
